.team {
    text-align: center;
    padding: 32px;
}
.team h3 {
    font-size: 32px;
    display: inline-block;
    padding-bottom: 8px;
    border-bottom: 4px solid;
}

.team .pessoas {
    display: flex;
    justify-content: space-around;
    align-items: 32px;
    flex-wrap: wrap;
}